#transit-section {
    background: url('../img/transit-times.jpg') repeat-y center 80%/cover;
}

 #transit-section #time-section {
    width: 60%;
    margin: auto;
    padding: 10% 15%;
}

#transit-section #time-section #transit-time-block {
    min-width: 33%;
    background: #c1c1c1;
    border: 1px solid #111;
    border-radius: 5px;
    text-align: center;
    color: #222;
    padding: 3rem;
    margin-bottom: 20px;
}

#transit-section #time-section #transit-time-block h2{
    font-size: 2rem;
    margin-bottom: 1.2rem;
}

#transit-section #time-section #transit-time-block #station-selection-dropdown label{
    font-size: 1rem;
    display: block;
    margin-bottom: 10px;
}

#transit-section #time-section #transit-time-block #station-selection-dropdown select{
    border-radius: 5px;
    margin-bottom: 1rem;
    width: 90%;
    text-align: center;
}

#transit-section #time-section #transit-time-block #station-selection-submit #submit-btn {
    display: inline-block;
    padding: 5px 10px;
    color: #eee;
    background: #333;
    border-radius: 5px;
}

#time-output {
    width: 60%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.times {
    flex-basis: 45%;
    margin:  2rem auto;
    background: #A00;
    margin-bottom: 2rem;
    text-align: center;
    border-radius: 5px;
    padding: 20px;
    border: 1px solid #111;
}

.loyola-colors {
    background: #922247;
    color: #febd18;
}

.depaul-colors {
    background: #005EB8;
    color: #eee;
    border: 2px solid #e4002b;
}

.uic-colors {
    background: #D50032;
    color: #eee;
    border: 2px solid #00b5e2;
}

.times > h2, p {
    margin-bottom: 1rem;
}

@media screen and (max-width: 769px){

    #transit-section #time-section {
        padding: 0;
        width: 60%;
    }

    #time-output {
        flex-direction: column;
        flex-wrap: nowrap;
    }
}